<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Аренда квартир</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      <li class="{{#if isAll}}active{{/if}}"><a href="/all_adds">Все объявления</a></li>

      {{#if isAuth}}
      <li class="{{#if isAdd}}active{{/if}}"><a href="/add">Разместить объявление</a></li>

      <li class="{{#if isWhat}}active{{/if}}"><a href="/card">Что-то ещё</a></li>

      <li class="{{#if isProfile}}active{{/if}}"><a href="/profile">Профиль</a></li>

      <li><a href="/auth/logout">Выйти</a></li>
      {{else}}
      <li class="{{#if isLogin}}active{{/if}}"><a href="/auth/login#login">Войти</a></li>
      {{/if}}

    </ul>
  </div>
</nav>
