.nav-wrapper {
  padding: 0 2rem;
  background-color: cadetblue;
}
.addButton {
  text-align: center;
  margin: 10px;
}

.postMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.windowAdd{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addPost{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
