.nav-wrapper {
  padding: 0 2rem;
  background-color: rgb(32, 178, 170);
}

.addButton {
  text-align: center;
  margin: 10px;
}

.postMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.windowAdd {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.tabs .tab a,
.tabs .tab a:hover,
.tabs .tab a.active {
  color: rgba(32, 178, 170, 0.6);
}

.modal {
  border-radius: 15px;
  width: 30%;
}

#mainProfile {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.active {
  color: #26a69a teal lighten-1
}

.card-image{
  align-items: center;
  height: 350px;
  width: 800px;
}

#btnSpan {
  height: 45px;
}

.profile-image{
  height: 250px;
  width: 500px;
}

#myResps{
  display: flex;
  justify-content: space-around;
}


.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}
.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
