<section class="main">
  <div class="wrapper_text">
    <h1>АГЕНТСТВО ЭЛИТНОЙ НЕДВИЖИМОСТИ В МОСКВЕ</h1>
  </div>
</section>
<section class="second">
  <div class="container">
    <div class="row">
      <div class="descr">
        <p> Elbrus Real Estate Agency – это крупнейшее международное агентство элитной недвижимости, которое существует
          более 100500 лет и за
          все
          эти годы зарекомендовало себя как надежный и профессиональный партнер в своей сфере. Команда EREA
          предоставляет
          полный спектр услуг высочайшего качества по покупке и аренде элитной недвижимости в Москве, Подмосковье и
          зарубежом.
        </p>
      </div>
    </div>
  </div>
</section>
