<form action="*" name="allPosts" method="POST">

  <div class="postMain">
    <div>Квартира</div>
    <div>Описание</div>
    <div><button class="btn btn-primary" type="submit">Откликнуться</button></div>
  </div>

  <div class="windowAdd">
    <div><input type="tel" placeholder="Введите номер телефона"></div>
    <div><input type="datetime-local" placeholder="Выберите удобную Вам дату"></div>
    <div><input type="text" placeholder="Комментарии"></div>
    <div><button class="btn btn-primary" type="submit">Отправить заявку</button></div>
  </div>
</form>
