{{#each requests}}
  <ul>
    <li></li>
    <li>
      <a href="/requests/{{ requests.id }}/accept">accept</a>
    </li>
    <li>
      <form method="post" action="/requests/{{requests.id}}">
        <input type="hidden" name="_method" value="decline">
        <input type="submit" class="btn waves-effect waves-light" value="decline">
      </form>
    </li>
  </ul>
{{/each}}


{{!-- <div class="file-field input-field">
<div class="btn">
<span>Загрузить Фото</span>
<input type="file">
</div>
<div class="file-path-wrapper">
<input class="file-path validate" type="text">
</div>
</div>  --}}